{{#if blogs}}
  {{#each blogs as |blog|}}
    <div data-id="{{id}}" class="card custom-card">
      <a href="/blogs/{{id}}">
        <h5 class="card-header custom-header">{{title}}</h5>
        <div class="card-body custom-body"></div>
          <p class="card-text custom-body">{{text}}</p>
          <p class="card-text custom-body">Posted by
          {{user.name}}
          on
          {{format_date date_created}}</p>
        </div>
      </a>
    </div>
  {{/each}}
{{else}}
  <h5>There are no blogs currently saved. Why not add one?</h5>
{{/if}}